<div class="titleB"><%= t '.upload_files' %></div>
<br />
<%= link_to t('.your_archives'), member_archives_url %>

<%= error_messages_for :upload %>

<% form_for @upload, :url => member_archive_uploads_path(@archive), :html => {:id => "entry", :multipart => true, :method => "post"} do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="actions">
    <%= submit_tag t('.upload'), :class => "button mainaction" %>
  </div>
     
<% end -%>
