<% content_for :sidebar do %>
  <div class="portlet portletD" id="portlet_userWall">
    <h2><span><%= t '.your_archives' %></span></h2>
      <div class="portlet_content">
      </div>    
  </div>
<% end %>

<p><%= link_to t('.your_archives'), member_archives_url %></p>

<%= error_messages_for :archive %>

<% form_for :archive, :url => member_archives_path, :html => {:id => "settings", :method => "post"} do |f| -%>

  <%= render :partial => 'form', :locals => { :f => f } %>

  <div class="actions">
    <%= submit_tag t('.create'), :class => "button mainaction" %>
  </div>
<% end -%>
